<!DOCTYPE html>

<html>
 <head> 
  <meta charset='UTF-8' />
  <title>Banco Capgemini</title>
 </head> 
 <body>

	<h1>Banco Capgemini</h1>

	<p> - <a href="/cliente">Cadastrar Cliente</a></p>
	<p> - <a href="/conta">Cadastrar Conta</a></p>
	<p> - <a href="/deposito">Depósito</a></p>
	<p> - <a href="/saque">Saque</a></p>
	<p> - <a href="/saldo">Saldo</a></p>
	<p> - <a href="/transacao">Transações Realizadas</a></p>
	<br/>
	<br/>
	<br/>
	by <a href="https://www.linkedin.com/in/marcioalexandre83/">Marcio Alexandre</a>

 </body>
</html>