<!DOCTYPE html>

<html ng-app='app-saque'>
 <head> 
  <meta charset='UTF-8' />
  <title>Depósito em Conta</title>
  <script src='https://code.angularjs.org/1.5.9/angular.min.js'></script> 
  <script src='./js/saque.js'></script>
 </head> 
 <body ng-controller='saque-controller'>

	<h1>Novo Saque em Conta</h1>
	
	<p>Cliente: <select ng-model="cliente" ng-change="getConta(cliente)" ng-options="item.nome for item in listaclientes"></select></p>
	<p>Agência: <input type='text' ng-model='saque.agencia' disabled /> </p>
	<p>Número Conta: <input type='text' ng-model='saque.numeroconta' disabled /> </p>
	<p>Valor: <input type='text' ng-model='saque.valor' value='' /> </p>
	<p>Observação: <input type='text' ng-model='saque.observacao' value='' /> </p>
	<p><input type='submit' ng-click='salvar(saque, cliente)' value='ok' /> {{msg}}</p> 
	<br/>
	<br/>
	[<a href="/">Index</a>]
	
  </body>

</html>